*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    user-select: none; 
}
body{
    background-color: black;
    color: white;
}
h1{
    position: absolute;
    text-align: center;
    top: 40vh;
    width: 100%;
    overflow: hidden;
    display: block;
}
h1>small{
    color: red;
}
body > p{
    color: white;
    position: absolute;
    bottom: 25vh;
    display: block;
    text-align: center;
    width: 100%;
}
a{
    color: goldenrod;
    user-select: none; 
}
a:hover{
    color: goldenrod;
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px yellow;
}
.hide{
    display: none !important;
}

div{
    text-align: center;
    margin-top: 48vh;
}
section{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 60vh;
}

ul{
    position: absolute;
    top: 0;
    /* border-bottom: 2px solid red;
    border-right: 2px solid red; */
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
ul > li{
    padding: 5px;
    /* border-top: 2px solid red;
    border-left: 2px solid red; */
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
ul > li:hover{
    background-color: goldenrod;
}

/*Mobile*/
@media (max-width: 700px) { 
    body{
        background-color: black;
        color: white;
    }
    ul{
        flex-flow: column;
    }
    ul > li{
        padding: 5px;
        /* border-top: 2px solid red;
        border-left: 2px solid red; */
        width: 100%;
        text-align: center;
    }
} 
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    color: gray;
}
span{
    color: teal;
}